@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

#root {
  max-width: 1920px;
  margin: 0 auto;
}

.body {
  font-family: "Inter", sans-serif;
  overflow-x: hidden;
}

/* Add this to your global CSS */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none; /* for Internet Explorer and Edge */
  scrollbar-width: none; /* for Firefox */
}

@media (min-width: 768px) {
  .centered-border::after {
    content: "";
    position: absolute;
    left: 56%;
    transform: translateX(-50%);
    bottom: 0;
    width: 671px; /* visual length of the border */
    border-bottom: 1px solid #e8ecef;
    pointer-events: none;
  }
}
